:root {
	--tone: 300;
	--font-family: sans-serif;
	--background: hsl(var(--tone), 50%, 5%);
	--background-color: hsl(var(--tone), 50%, 10%);
	--button-bg: hsl(var(--tone), 50%, 25%);
	--button-hover: hsl(var(--tone), 50%, 50%);
	--panel-color: hsl(var(--tone), 50%, 15%);;
	--text-color: white;
	--base-size: 1vh;
	--icon-size: calc(var(--base-size)*3);
	--gallery-image-size: calc(var(--base-size)*15);
	--tab-size: calc(var(--base-size)*0.2);
	--pan-size: calc(var(--base-size)*1.0);
	--border-color: hsl(var(--tone), 50%, 50%);
}

html, body { margin: 0; width: 100vw; height: 100vh; overflow: hidden; background-color: var(--background-color); }
body { transform: scale(1.0); transform-origin: 0 0; }
div { display: flex; }

.frame { overflow: scroll; }
.border { border: 2px solid; border-radius: 5px; border-color: var(--border-color); }
.panel { background-color: var( --panel-color); }

.text { text-align:center; white-space: nowrap; text-overflow: ellipsis; font-family: var(--font-family); color: var(--text-color); }
.caption { text-align:left; white-space: nowrap; text-overflow: ellipsis; font-family: var(--font-family); color: var(--text-color); }
.preline { white-space: pre-line; }
.ft0 { font-size:4.5vmin; }
.ft1 { font-size:9vmin; }
.ft2 { font-size:15vmin; }
.ft3 { font-size:22vmin; }

.button { border: 2px solid; border-radius: 5px; border-color: var(--border-color); color: var(--text-color); background-color: var(--button-bg); }
.button:hover { background-color: var(--button-hover); }

.margin { margin: calc(var(--tab-size)*3); padding: calc(var(--tab-size)*1); }
.row { display: flex; flex-direction: row; }
.column { display: flex; flex-direction: column; }